body {
    font-family: sans-serif;
}

header {
    background-color: #0776A0;
    padding: 5px;
}

a{
    text-decoration: none;
    background-color: orange;
    padding: 7px;
    margin: 15px;
    font-size: 30px;
    border-radius: 25px;
    color: black;
}

h2 {
    color: red;
}

h1 {
    text-align: center;
}

footer{
    color: white;
    background-color: #0776A0;
    padding: 15px;
}
